body{
    font-family: sans-serif;
}
.web3img{
    width: 350px;
    height: 300px;
}
.left-container{
    color: white;
    background-color: black;
    padding: 10px;
    margin: 15px;
}
p{
font-size: 15px;
}
.readmore{
    background-color:  hsl(5, 85%, 63%);
    font-family: sans-serif;
}
h3{
    color: yellow;
}
.line{
    border: 0.5px solid white;
}

.bottom{
    display: flex;
    flex-direction: row;
    margin: 20px;
    gap: 10px;
}

.bottom-sub{
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.image{
    width: 100px;
    height: 110px;
    margin: 15px;
}
.number{
    color:  hsl(35, 77%, 62%);
}
/* .main-container{
    display: flex;
    min-height: 100vh;

} */